Datagram encoding is a bit unspecified.

I have read the discussion in issue #54, and I agree with its conclusion that sending a datagram over the WT API should be about the same as sending a datagram over QUIC -- no subcontext needed or anything like that. But! The protocol overview says that _"A datagram can be sent using HTTP Datagrams [HTTP-DATAGRAM]."_ Cool, but RFC 9297 says : _When used with HTTP/3, the Datagram Data field of QUIC DATAGRAM frames uses the following format:_
~~~
HTTP/3 Datagram {
  Quarter Stream ID (i),
  HTTP Datagram Payload (..),
}
~~~
And then it goes on specifying that the "Quarter Stream ID" is defied by _"the value of the client-initiated bidirectional stream that this datagram is associated with divided by four."_ Fine too. I assume that this client-initiated bidirectional stream is the CONNECT stream. But when I look at section 4.4, I only find "_Datagrams can be sent using HTTP Datagrams.  The WebTransport datagram payload is sent unmodified in the "HTTP Datagram Payload_" field of an HTTP Datagram." There is no mention anywhere of a quarter stream ID.

Maybe it goes without saying, but actually saying it would avoid implementers scratching their head...




 


WebTransport could benefit from some clarifying text like we added for [CONNECT-UDP](https://www.rfc-editor.org/rfc/rfc9298#section-5):
> When HTTP Datagrams (see [Section 2](https://www.rfc-editor.org/rfc/rfc9297#section-2) of [[HTTP-DGRAM](https://www.rfc-editor.org/rfc/rfc9298#RFC9297)]) are associated with UDP Proxying request streams, the HTTP Datagram Payload field has the format defined in [Figure 7](https://www.rfc-editor.org/rfc/rfc9298#dgram-format), using notation from [Section 1.3](https://www.rfc-editor.org/rfc/rfc9000#section-1.3) of [[QUIC](https://www.rfc-editor.org/rfc/rfc9298#RFC9000)]. Note that when HTTP Datagrams are encoded using QUIC DATAGRAM frames [[QUIC-DGRAM](https://www.rfc-editor.org/rfc/rfc9298#RFC9221)], the Context ID field defined below directly follows the Quarter Stream ID field, which is at the start of the QUIC DATAGRAM frame payload; see [Section 2.1](https://www.rfc-editor.org/rfc/rfc9297#section-2.1) of [[HTTP-DGRAM](https://www.rfc-editor.org/rfc/rfc9298#RFC9297)].
> ```
> UDP Proxying HTTP Datagram Payload {
>   Context ID (i),
>   UDP Proxying Payload (..),
> }
> ```
> [Figure 7](https://www.rfc-editor.org/rfc/rfc9298#figure-7): [UDP Proxying HTTP Datagram Format](https://www.rfc-editor.org/rfc/rfc9298#name-udp-proxying-http-datagram-)