WGLC Review

The Abstract could use a rewrite that leads with “This document …”

The terminology paragraph flows a little awkwardly as well.

> Stream independence can mitigate head-of-line blocking.

This sentence feels stilted

> it is unopinionated about their usage

Is this adding value?  Also not a word/misspelled.

> HTTP/3 offers two features in addition to HTTP Semantics: QPACK header compression [RFC9208] and Server Push Section 4.6 of [RFC9114].

Do we need to mention either in this document?  Certainly server push can be dropped?

> is not used for anything else related to an established session

Perhaps: “is only used for minimal framing”

> and perhaps some extra header fields.

And any necessary header fields

> and possibly some extra header fields

> A WebTransport endpoint, whether a client or a server, can likely perform several of its HTTP-level requirements using bytestring comparisons.

? I’m not sure what we’re suggesting here.  I recall there was a lot of push back about “h3 is hard” and this section seems to be saying “its not that hard”.  Do we still need this?

> 2.1.2. Capsule-Based WebTransport over HTTP/3

Is this section in the right place?  Maybe should come after overview?

> Endpoints SHOULD always use this protocol

Do we need a reason why one might not?

>  in general are identified by a pair

Drop “in general”?

> The ID of the CONNECT stream

“a CONNECT stream” has better agreement

> f it does not, it SHOULD reply with status code 404

But overview security considerations has:

> For example, the client must not be able to distinguish between a network address that is unreachable and one that is reachable but is not a WebTransport server.

>  WebTransport server MAY accept the session

This is a funny MAY - perhaps “can” or “server accepts”

> server may reply with a 3xx response, indicating a redirection (

Lowercase may

> Clients cannot initiate WebTransport in 0-RTT packets,

WebTransport sessions

> SETTINGS parameters may be retained

Lowercase may

> If the server accepts 0-RTT, the server MUST NOT reduce the limit of maximum open WebTransport sessions,

I think we dropped max sessions

> such change would be deemed incompatible

Because these values are incompatible, the server MUST send …

> enumerates the possible protocols 

Possible next protocols

> If it does, the server MUST include a single choice from the client's list in that field


Otherwise, request error or connection error?  Aha, it’s a couple paragraphs later - 

>  If the client receives a WT-Protocol value that was not included in its WT-Available-Protocols list, the client MUST close the WebTransport session with a WT_ALPN_ERROR error code.

> SHALL be 0x54.

We’re still planning to renumber into the 1 byte varint space, right?

> A WebTransport endpoint may send a 

Lowercase may

> similarly, intermediaries MUST reset such streams with a corresponding error code when receiving a reset from their peer. 

Is this talking about STOP_SENDING -> RST_STREAM behavior?  If so, it’s too vague.

> If a RESET_STREAM or STOP_SENDING frame is received with an error code outside the range reserved for WT_APPLICATION_ERROR, the stream is still considered reset, but the error code is not mapped to a WebTransport application error code. The WebTransport implementation SHOULD deliver this to the application as a stream reset with no application error code.

This is super annoying.  Essentially your interface now needs to have optional<uint32_t> error code on the off chance that the peer sent a broken code.  Can we reserve the MAX error code in WT space as INTERNAL_ERROR or some such, and say that unknown errors map to INTERNAL_ERROR?  I will file this as a separate issue.

> a WebTransport server could be put into a situation where it receives a stream or a datagram without a corresponding session.

Server can receive

>  client may receive

Lowercase may

> a stream SHALL be

Are we consistent with MUST/SHALL?

> it must open a new

Lowercase must

> and MAY open new WebTransport streams.

Mention datagrams too?

> when the backend shuts down

Backend is used without definition. Might need more explicit text

> QUIC connection may be shared

Lowercase may

> SHALL be a TLS exporter

Shall

>   WebTransport Application-Supplied Exporter Label (8..),

What does (8..) mean?  Is it a typo?

> endpoints can limit the number of sessions that a peer can create on a single HTTP/3 connection

Still true?  Via rate limit header or maybe we just drop it

>  are not used and so are prohibited. 

Drop ‘so’ ?

[throughout - need to update to reference RFC’s of things that have shipped e.g. HTTP-DATAGRAM?

> type of 0x190B4D3F

Renumbering here I assume

> HTTP/3 is considered terminated 

is terminated

> the endpoint MUST reset the send side and abort reading on the receive side of all unidirectional and bidirectional streams associated with the session (see Section 2.4 of [RFC9000]) using the WT_SESSION_GONE error code;

What error code does the implementation deliver to the application when a stream is reset with WT_SESSION_GONE?  






